@import "tailwindcss";

:root {
  --background: white;
  --foreground: #7C0A02;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-rowdies: Rowdies;
  --font-maven: "Maven Pro";
  --color-darkred: #7C0A02;
  --color-skin: #FFF6EA;
}
@media (prefers-color-scheme: bright) {
  :root {
    --background: white;
    --foreground:#7C0A02;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #FFF6EA;
  }
}
body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: "Maven Pro";
}

